@import "tailwindcss" prefix(cb);

@layer theme, base, components, utilities;
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

@layer base {
  a {
    @apply cb:text-blue-600 cb:hover:text-blue-800 cb:font-medium;
  }

  :host {
    font-size: 16px !important;

    --cb-spacing: 0.25em !important;
    --cb-text-xs: 0.75em !important;
    --cb-text-sm: 0.875em !important;
    --cb-text-xl: 1.25em !important;
    --cb-radius-md: 0.375em !important;
    --cb-radius-lg: 0.5em !important;
    --cb-radius-xl: 0.75em !important;
    --cb-radius-2xl: 1em !important;

    --tw-border-style: solid;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  :host, *, ::before, ::after {
    box-sizing: border-box !important;

    /* Base Shadow Variables */
    --tw-shadow-colored: 0 0 #0000 !important;
    --tw-inset-shadow: 0 0 #0000 !important;
    --tw-inset-shadow-colored: 0 0 #0000 !important;

    --tw-shadow-color: initial !important;

    --tw-ring-shadow: 0 0 #0000 !important;
    --tw-inset-ring-shadow: 0 0 #0000 !important;
    --tw-ring-offset-shadow: 0 0 #0000 !important;
    --tw-ring-offset-color: initial !important;
    --tw-ring-color: initial !important;
  }
}

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../views/**/*.blade.php";
@source "../js/**/*.js";
@source "../js/**/*.jsx";